.someClass h1{
    color: rgb(86, 233, 73);
    text-align: center;
}

.someClass h3{
    color: blue;
}

.someClass p{
    color: red;
}

.someClass{
    border-style: solid;
    border-color: black;
    border-width: 20px;
    border-radius: 40px;
    background-color: rgb(73, 73, 73);
    height: 200px;
}

