body{
    background-color: rgb(124, 173, 218);
}

.form{
    width: 20%;
    display: block;
    text-align: center;
    border: solid;
    background-color: white;
    position: fixed;
    left: 40%;
}

.button{
    background-color: blue;
    color: white;
    border: none;
    width: 75%;
}

input{
    width: 75%;
}